* {
  margin: 0;
  padding: 0;
  background-color: #262936;
  color: #fffffa;
  font-family: "Poppins", sans-serif;
}

.home-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly ;
}

.main-heading {
  border: 1px solid white;
  margin: 10px;
  font-size: 4rem;
  font-weight: 200;
  text-align: center;
  padding: 50px 0;
  min-height: 100px;
  text-decoration: underline;
}

.main-heading:hover{
    text-decoration: dashed;
}

.upload-form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 50px 20px;
    margin: 0 10px;
    border: 1px solid white;
    min-height: 100px;
}

label {
    text-align: center;
    font-size: 2em;
}

.audio-input  {
    justify-content: center;
    margin: 30px auto;
}

.form-input {
    font-size: 1.2em;
    border: 1px solid white;
}

.btn {
  width: 150px;
  font-size: 1.2em;
  color: #262936;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  background-color: #fffffa;
}

.download {
    padding: 50px 0;
    margin: 10px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    min-height: 100px;
}

.download div {
    display: block;
    margin: 15px auto;
}